@import '../Colours';

.home-header {
    margin-top: 60px;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h1,
h3 {
    color: $white;
    display: inline;
}

.introduction-1 {
    font-size: 3.6em;

    @media (min-width: 321px) and (max-width: 600px) {
        font-size: 2.3em;
    }

    @media (max-width: 320px) {
        font-size: 2em;
    }
}

.introduction-3 {
    font-size: 1.8em;

    @media (min-width: 321px) and (max-width: 600px) {
        font-size: 1.65em;
    }

    @media (max-width: 320px) {
        font-size: 1.3em;
    }
}

.bg-green {
    background-color: $green;
}
