@import '../Colours';
@import '../Mixins.scss';

.home-header {
    margin-top: 60px;

    h1,
    h3 {
        padding: 5px 10px;
    }
}

span {
    color: $white;
    font-family: 'Raleway', sans-serif;
}

.introduction-box {
    margin-bottom: 20px;
}

.introduction-1,
.introduction-3 {
    -moz-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 800;
    padding: 5px 10px;
}

.introduction-1 {
    font-size: 2em;
    
    @include mq($mobileS) {
        font-size: 2.3em;
    }

    @include mq($mobileX) {
        font-size: 3.6em;
    }
}

.introduction-3 {
    font-size: 1.3em;
    font-weight: 300;
    
    @include mq($mobileS) {
        font-size: 1.65em;
    }

    @include mq($mobileX) {
        font-size: 1.8em;
    }
}

.bg-green {
    background-color: $green;
}
