@import '../Colours.scss';

.btn {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    font-weight: 700;

    @media (min-width: 400px) and (max-width: 600px) {
        font-size: 2em;
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        font-size: 3.3em;
    }

    @media (min-width: 1025px) {
        font-size: 4.5em;
    }

    &-design {
        background-color: $gray;
        color: $lightgray;
        padding: 5px 10px;
        transform: rotateZ(-15deg);
    }

    &-code {
        background-color: $lightgray;
        color: $gray;
        padding: 5px 20px;
        transform: rotateZ(15deg);   
    }
}

.link {
    position: absolute;

    &-design {
        margin-left: -255px;
    }

    &-code {
        margin-left: 255px;
    }
}
