@import '../Colours.scss';
@import '../Mixins.scss';

.btn {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    
    @include mq($mobile) {
        font-size: 2em;
    }

    @include mq($mobileX) {
        font-size: 3.3em;
    }

    @include mq($desktop) {
        font-size: 4.5em;
    }

    &-design {
        background-color: $gray;
        color: $lightgray;
        padding: 5px 10px;
        transform: rotateZ(-15deg);
    }

    &-code {
        background-color: $lightgray;
        color: $gray;
        padding: 5px 20px;
        transform: rotateZ(15deg);   
    }
}

.link {
    position: absolute;

    &-design {
        margin-left: -100px;
        
        @include mq($mobile) {
            margin-left: -120px;
        }

        @include mq($mobileX) {
            margin-left: -165px;
        }

        @include mq($tablet) {
            margin-left: -255px;
        }
    }

    &-code {
        margin-left: 100px;

        @include mq($mobile) {
            margin-left: 120px;
        }
        
        @include mq($mobileX) {
            margin-left: 165px;
        }
        
        @include mq($tablet) {
            margin-left: 255px;
        }
    }
}
