@import '../../Colours.scss';

.title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title-bottom-space {
    margin-bottom: 13px;
}

.commit-date {
    font-size: .9em;
}
