@import '../Mixins.scss';

.thin {
  font-weight: 300;
}

.title {
  margin-bottom: 5px;
}

.reference-wrap {
    margin-bottom: 40px;

    @include mq($tablet) {
        margin-bottom: 60px;
    }
}

.reference-link {
  margin-left: 10px;
}

.reference-image {
  margin-bottom: 20px;
  
  @include mq($tablet) {
    margin-bottom: 40px;
  }

  img {
    max-width: 100%;
  }
}

.lazyload {
  filter: blur(15px);
  width: 1000px;
}