@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import '../Colours.scss';
@import '../Text.scss';

html {
    color: $gray;
    // font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.site-wrapper {
    background-color: #24eda1;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 40vw;
}

.main-wrap {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

.top-space {
    margin-top: 20px;
}

.bottom-space {
    margin-bottom: 20px;
}
