@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import '../Colours.scss';
@import '../Mixins.scss';
@import '../Text.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    color: $gray;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 20px;
    
    @include mq($mobileX) {
        margin-top: 50px;
    }
}

.main-wrap {
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

.top-space {
    margin-top: 20px;
}

.bottom-space {
    margin-bottom: 20px;
}
