$gray: #525252;
$lightgray: #efeded;
$red : #ff5b70;
$white: #fff;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

.commit-date {
    font-size: .9em;
}

.square {
    background-color: $gray;
    height: 10px;
    margin-left: -17px;
    width: 10px;
    position: absolute;
    z-index: 5;
}

.commit-body {
    align-items: center;
    border: 1px solid $lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.project {
    background-color: $red;
    border: 1px solid $red;
    color: $white;
}

.commit-title {
    font-size: 1.2em;
    font-weight: 600;
}

.commit-small-texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.committed-ago {
    font-weight: 300;
}

.username {
    font-weight: 600;
    margin-right: 5px;
}

.committed-ago,
.username {
    font-size: .7em;
}

.profile-pic {
    border-radius: 3px;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.bottom-space {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 20px;
}

.line {
    background-color: $lightgray;
    height: inherit;
    margin-left: -15px;
    min-height: 130px;
    position: absolute;
    width: 6px;
}

.title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 13px;
}
