.big-profile-pic{
    width: 50%;

    @media (min-width: 300px) {
        width: 80%;
    }

    @media (min-width: 400px) {
        margin-top: 10%;
        width: 90%;
    }

    @media (min-width: 700px) {
        width: 70%;
    }

    @media (min-width: 860px) {
        width: 50%;
    }

    @media (min-width: 1024px) {
        margin-top: 0;
    }
}

.ppic {
    max-width: 688px;
    overflow: hidden;
}

.ppic img {
    margin-bottom: -5px;
    transition: all .95s ease-in-out;
}

.home {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    &-link {
        position: absolute;
    }

    &-link1 {
        margin-left: -255px;
    }

    &-link2 {
        margin-left: 255px;
    }
}
