@import '../Colours.scss';

.title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title-bottom-space {
    margin-bottom: 13px;
}

.square {
    background-color: $gray;
    height: 10px;
    margin-left: -17px;
    width: 10px;
    position: absolute;
    z-index: 1;
}

.commit-date {
    font-size: .9em;
}
