.branch {
    background: linear-gradient(to bottom, rgba(249, 250, 251, 1) 0%, rgba(239, 243, 246, 1) 100%);
    border: 1px solid #C6D0D8;
    border-radius: 5px;
    max-width: 120px;
    padding: 6px 12px;
    text-align: center;
}
