.reference-tool {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.reference-tool-icon {
    height: 20px;
    margin-left: 10px;
    width: 20px;

    img {
        height: 20px;
        width: 20px;
    }
}
