@import '../Colours.scss';
@import '../Mixins.scss';

.project {
    background-color: $red;
    border: 1px solid $red;
    color: $white;
}

.commit-body {
    align-items: center;
    border: 1px solid $lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;

    .profile-pic {
        border-radius: 3px;
        display: none;
        height: 40px;
        margin-right: 10px;
        width: 40px;

        @include mq($mobile) {
            display: initial;
        }
    }

    .commit-title {
        font-size: 1em;
        font-weight: 600;
        
        @include mq($mobileS) {
            font-size: 1.1em;
        }        
        
        @include mq($mobileX) {
            font-size: 1.2em;
        }
    }

    .commit-small-texts{
        display: flex;
        flex-direction: row;
    }

    .committed-ago {
        font-weight: 300;
    }

    .committed-ago,
    .username {
        font-size: .6em;
        
        @include mq($mobileS) {
            font-size: .7em;
        }
    }

    .username {
        font-weight: 600;
        margin-right: 5px;
    }
}
